/* Our style */
#sfWebDebugUser{width: 760px; overflow: auto;}
#sfWebDebugconfigDetails{overflow: auto;}

.left {float:left}
.right {float:right}
.clear {clear:both; height: 1px;}
.hide {display:none}
.loader{text-align:center; background-image: url('../images/fbLoader.gif'); background-repeat: no-repeat; width: 32px; height:32px; margin: 0 auto;}
.loaderText{width: 200px; margin: 0pt auto; display: block; text-align: center; font-size: 12px; color: #FFF;;}
.LikeButton{padding-left: 10px; padding-top: 33px; width: 100px;}
tr.winner td{background-color: red !important; color: #FFF !important;}
tr.winner td a {color: #FFF}

ul#menu, ul.menu{    border-bottom: 1px solid #007DB1;    margin-bottom: 15px;}
ul#menu li, ul.menu li{display: inline-block;  margin: 5px; padding: 5px;}
ul#menu li a, ul.menu a {    color: #007DB1;    font-size: 15px;    font-weight: bold;    text-decoration: none;}
ul#menu li a:hover, ul.menu a:hover {text-decoration: underline}

table#users{ margin: 20px; width: auto;} 
table#users .header{    background-color: #007DB1;    color: #FFFFFF;    font-weight: bold;}
table#users .header td a{color: #FFF; text-decoration: underline;}
table#users .header td{ text-align: left}
table#users tr{ border: 1px solid #000000;}
table#users tr.winner td{background-color:red !important; color: #FFF}
table#users tr.winner a{color: #FFF}
table#users tr td{  margin: 5px;   padding: 5px 10px;  border: 1px solid #000000; text-align: center; vertical-align: middle;}
table#users tr td span{}

#userData, #userPoints, #userInvitations, #storyData{margin: 0px 20px}
#userData span{display: block}

#userPoints ul, #userInvitations ul { margin: 30px;}
#userPoints ul li{ list-style: decimal outside none; padding: 5px;}
#userPoints ul li span{display: block}
#userInvitations ul li{list-style: decimal outside none; padding: 5px;}


table#questions, table#comparisions{ margin: 20px;}
table#questions .header, table#comparisions .header{    background-color: #007DB1;    color: #FFFFFF;    font-weight: bold;}
table#questions .header td, table#comparisions .header td{ text-align: left}
table#questions tr, table#comparisions tr{ border: 1px solid #000000;}
table#questions tr td, table#comparisions tr td{  margin: 5px;   padding: 5px 10px;  border: 1px solid #000000;}
table#questions tr td span{} 

ul#pager{    float: right;    margin-right: 200px;}
ul#pager li {display: inline-block;  padding: 5px;}
ul#pager li a {    color: #007DB1;    font-size: 17px;   text-decoration: none;}
ul#pager li a:hover {text-decoration: underline}

form#editQuestion{margin: 20px;}
form#editQuestion textarea#question{display: block; margin: 20px 0px;  width: 400px;}
form#editQuestion h3{}
form#editQuestion span.error{display: block; color:red; margin: 0px 0px 10px 0px;}
form#editQuestion input[type=submit] {}

form#answersForm {margin: 20px;}
form#answersForm h3 {margin-bottom:  10px;}
form#answersForm ul {list-style: lower-latin;}
form#answersForm ul li{margin: 5px 0px;}
form#answersForm input{padding:2px}
form#answersForm input.value { width: 400px;}
form#answersForm input.points {    text-align: center;    width: 30px;}
a.addAnswer{margin-left: 20px}

form#addAnswerForm{margin: 20px}
form#addAnswerForm h3{margin-bottom: 15px}
form#addAnswerForm p{font-style: italic}
form#addAnswerForm h4{margin: 7px}
form#addAnswerForm input{display: block; padding: 2px}
form#addAnswerForm #addAnswer_value{width:400px}
form#addAnswerForm #addAnswer_points{    margin-bottom: 10px;    width: 60px;}

form#deleteAnswerForm{margin: 20px;}
form#deleteAnswerForm h3{margin: 7px}
form#deleteAnswerForm p{font-styl
ul#pager{    float: right;    margin-right: 200px;}
ul#pager li {display: inline-block;  padding: 5px;}
ul#pager li a {    color: #007DB1;    font-size: 17px;   text-decoration: none;}
ul#pager li a:hover {text-decoration: underline}e: italic; margin: 5px 0px}
form#deleteAnswerForm input{padding: 2px;}

form#addQuestionForm{margin: 20px;}
form#addQuestionForm textarea{    display: block;    width: 400px;}
form#addQuestionForm h3{ margin-bottom: 20px;}
form#addQuestionForm input[type=submit]{    margin-top: 10px;    padding: 2px;}

form#resultsForm{margin: 20px}
form#resultsForm h3{margin-bottom: 20px;}
form#resultsForm textarea{    display: block;    margin: 10px 0;    width: 400px;}
form#resultsForm input[type=submit]{    margin-top: 10px;    padding: 2px;}
form#resultsForm  span.results{margin-bottom: 10px; display: block;}