/* Our style */
body{font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif; font-size: 16px;color: black; letter-spacing:0px}

.loader{	
	-moz-border-radius: 8px 8px 8px 8px;
	background: none repeat scroll 0 0 rgba(82, 82, 82, 0.698);
	display: none;
	left: 50%;
	margin-left: -205px;
	padding: 10px;
	position: absolute;
	top: 360px;
	width: 400px;
	z-index: 20;
	text-align: center;
}
.loader .content{background-color: #FFF; padding: 4px;}
.loader .content img{width:32px; height:32px; display:block; margin: 5px auto;}

#sfWebDebugUser{width: 760px; overflow: auto;}
#sfWebDebugconfigDetails{overflow: auto;}

#mainContainer{}
#quizModule{width: 760px; height: 700px; margin: 0 auto; background-repeat: no-repeat; background-image: url('/images/quiz_background.jpg');}
#quizModule .question{text-align: center; font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 10px;}
#quizModule .answers{text-align: left;}
#quizModule .contest{margin-top:100px; text-align: center; vertical-align: middle; margin: 20px; border: 1px solid black; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#quizModule #quizForm {margin-top: 0px;}
#quizModule #quizForm ul {list-style: none}
#quizModule .nextQuestion{background-color: #416dfe ; color: white; text-align: center; font-size: 20px; width: 108px;height: 39px;cursor: pointer; border: 1px solid black; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#quizModule .prevQuestion{background-color: #416dfe ; color: white; text-align: center; font-size: 20px; width: 108px;height: 39px;cursor: pointer; border: 1px solid black; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }


#resultSingleModule{text-align: center;}
#resultSingleModule .tittle{margin-top: 50px; font-size: 20px; margin-bottom: 30px; font-weight: bold}
#resultSingleModule .comments{margin-left: 50px;}
#resultSingleModule .user{text-align: left; margin-left: 20px; margin-top: 40px; font-style: italic}
#resultSingleModule .userImage{margin-left:5px; margin-right: 5px; margin-bottom: -4px ;height: 30px}
#resultSingleModule .comments .comment{}