/* Our style */
body{font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif; font-size: 16px;color: black; letter-spacing:0px}

.loader{	
	-moz-border-radius: 8px 8px 8px 8px;
	background: none repeat scroll 0 0 rgba(82, 82, 82, 0.698);
	display: none;
	left: 50%;
	margin-left: -205px;
	padding: 10px;
	position: absolute;
	top: 360px;
	width: 400px;
	z-index: 20;
	text-align: center;
}
.loader .content{background-color: #FFF; padding: 4px;}
.loader .content img{width:32px; height:32px; display:block; margin: 5px auto;}

#sfWebDebugUser{width: 760px; overflow: auto;}
#sfWebDebugconfigDetails{overflow: auto;}

#mainContainer{}
#quizModule{width: 760px; height: 700px; margin: 0 auto; background-repeat: no-repeat; background-image: url('/images/quiz_background.jpg');}
#quizModule #quizForm {margin-top: 116px;}
#quizModule #quizForm ul {list-style: none}
#quizModule .quizzNextQuestion{background-image: url('/images/next_button.png');width: 108px;height: 39px;cursor: pointer;margin-right: 40px;position: fixed;right: 140px;bottom: 45px;}
#quizModule .quizzPrevQuestion{background-image: url('/images/back_button.png');width: 108px;height: 39px;cursor: pointer;margin-right: 40px;position: fixed;right: 280px;bottom: 45px;}

